<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506683889890-m91f24fjt7avbm8u8j0efb00nv6859re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506683889890-m91f24fjt7avbm8u8j0efb00nv6859re</string>
	<key>API_KEY</key>
	<string>AIzaSyBluIOt3wEti9bIdc0SeYIu4cgCLO0DJEg</string>
	<key>GCM_SENDER_ID</key>
	<string>506683889890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senor</string>
	<key>PROJECT_ID</key>
	<string>senor-3603a</string>
	<key>STORAGE_BUCKET</key>
	<string>senor-3603a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506683889890:ios:80141564a9b574e4</string>
	<key>DATABASE_URL</key>
	<string>https://senor-3603a.firebaseio.com</string>
</dict>
</plist>